html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* GENERAL SETTINGS */

:root {
    --white: #D6FFF6;
    --dark-blue: #01172F;
    --light-blue: #72A1E5;
    --container-width: 1200px;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins',courier, sans-serif;
    color: var(--black);
    word-wrap: break-word;
    background-color: var(--white);
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-xl);
}

#title {
    font-size: 3rem;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-xl);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    height: 150px;
    width: 150px;
    background-color: var(--light-blue);
    border: 2px solid var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

footer {
    margin-top: var(--spacing-xl);
    text-align: center;
}